<style>
    .login-container {
        max-width: 360px;
        margin: auto;
        margin-top: 64px;
    }
</style>


<div class="login-container">
    <h1><b>HYM MATERIALES</b></h1>
    <h2>Login de usuario</h2>

    <form action="/api/sessions/login_passport_jwt" method="post" style="margin-top: 32px;">
        <div class="input-group" style="width: 300px; margin-bottom: 32px;">
            <span class="input-group-text" id="group1"><i class="fa-solid fa-user"></i></span>
            <input type="text" name="email" class="form-control" placeholder="Email" required="required">
        </div>

        <div class="input-group" style="width: 300px; margin-bottom: 32px;">
            <span class="input-group-text" id="group2"><i class="fa-solid fa-lock"></i></span>
            <input type="password" name="pass" class="form-control" placeholder="Contraseña" required="required">
        </div>

        <div style="margin-bottom: 32px;">
            <a href="/send-restore-email">Olvidé mi contraseña</a>
        </div>
        
        {{#if msg}}
        <div style="margin-top: 24px;">
            <div class="alert alert-danger" role="alert">{{msg}}</div>
        </div>
        {{/if}}

        <button type="submit" class="btn btn-success" >Ingresar</button>
        <button type="reset" class="btn btn-secondary btn-100" onclick="visit('/api/sessions/github')"><i class="fa-brands fa-github"></i> Ingresar con Github</button>
    </form>

    
    <a href="/register"><button class="btn btn-primary" style="margin-top: 15px;">Registrarse</button></a>
    
</div>

<script>
    const visit = (destination) => {
        window.location.replace(destination);
    }
</script>