<style>
    .restore-container {
        max-width: 360px;
        margin: auto;
        margin-top: 64px;
    }
</style>

<div class="restore-container">
    <h2>Email de restauración enviado con éxito</h2>
    <p>Si no lo ha recibido, revise su casilla de spam, y si no intente de nuevo luego.</p>

    <div style="margin-top: 15px;" >
        <a href="/send-restore-email">Volver a intentar</a>
    </div>


</div>